<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <header class="homepage-background">
      <!-- <%-include("partials/header.ejs") %> -->
      <div class="main-container">
        <div class="text-container">
          <h1 class="homepage-header">Any fresh ideas to share?</h1>
          <a href="/register" class="start-link">
            Start your first journey &rarr;
          </a>
          <a href="/allposts" class="posts-link"> All Blog Posts &rarr; </a>
        </div>
      </div>
    </header>
  </body>
  <%-include("partials/footer.ejs") %>
</html>
