<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LoginPage</title>
  </head>
  <body>
    <%-include("partials/header.ejs") %>
    <main class="main-content">
      <div class="login-container">
        <div class="login-box">
          <h1>Login</h1>
          <form action="/login" method="POST" onsubmit="return validateForm()">
            <div class="input-group">
              <input
                type="text"
                id="email"
                name="email"
                placeholder="Email *"
                required
              />
            </div>
            <div class="input-group">
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Password *"
                required minlength="6"
              />
            </div>
            <div class="recovery-box">
              <div class="recovery-link">
                <a href="/resetpassword">Forgot your password?</a>
                <a href="/register">Create an account</a>
              </div>
              <button type="submit" class="green-button-solid">Login</button>
            </div>
          </form>

          </div>
        </div>
      </div>
    </main>
    <%-include("partials/footer.ejs") %>
  </body>
</html>
